@import "utilities/variables";

.footerStyle{
    background-color: $txt-clr;
    color: $bg-clr;
    padding: 16px;
    text-align: center;
    // position: fixed;
    width: 100%;
    // bottom: 0;
    font-weight: 900;
    font-size: 20px;
}